.card{
  border: 1px solid rgba(207, 207, 207, 0.763);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(212, 212, 212, 0.534);
  padding: 10px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;

}

.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: rgba(0, 0, 0, 0.707);
}

.card .card-text {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(58, 58, 58, 0.731);
}