body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-picker-container h1 {
  margin: 50px;
  font-size: 3rem;
}

.color-display {
  width: 200px;
  height: 200px;
  margin-bottom: 25px;
  border: 2px solid #bfb5b5bc;
  border-radius: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.25s ease;
}

.color-display p {
  font-size: 1.5rem;
  color: #000000;
  text-shadow: 1px 1px 2px #ffffff;
  text-align: center;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="color"] {
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #bfb5b5bc;
  cursor: pointer;
}