.counter-container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;;
}

.counter-display {
    font-size: 10em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.counter-button {
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px 5px;
    background-color: #c4df55;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.counter-button:hover {
    background-color: #a4c639;
}