.list-category {
  font-size: 2,5em;
  font-weight: bold;
  color: rgba(59, 59, 59, 0.817);
  margin-bottom: 10px;
  align-center: true;
  border: 3px solid;
  border-radius: 5px;
  background-color: rgb(62, 147, 6);
}

.list-items li {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.733);
  margin-bottom: 8px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.list-items li:hover {
  color: rgb(143, 143, 143);
  cursor: pointer;
}