body {
  background-image: url(https://cdn.wallpapersafari.com/43/82/Z9szGWV.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-container {
  backdrop-filter: blur(5px);
  width: 100vw;
  padding: 10px 0;
}

.clock {
  color: white;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.648);
  text-align: center;
}